version: '3.8'
services:
  db:
    image: postgres:15-alpine
    restart: always
    ports:
      - '5382:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ms_chat
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
